.player-wrapper {
  position: relative;
  padding-top: 47%;
  width: 100%;
  margin: auto;
  margin-top: 0;
  grid-column: 2;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.facebook-react-player {
  @extend .react-player;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1200px) {
  .player-wrapper {
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  }
}

@media only screen and (max-width: 785px) {
  .player-wrapper {
    padding-top: 70%;
  }
}
