.player-wrapper {
  position: relative;
  padding-top: 45%; /* Player ratio: 100 / (1280 / 720) */
  width: 100%;
  max-height: 100px;
  margin: auto;
  margin-top: 0;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
