.playlist-create-container {
  width: 100%;
  background-color: black;
}

div.playlist-create-input-container {
  margin-top: 20px;
  width: auto;
  grid-template-columns: auto 120px;
}

.playlist-create-inputs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
}

.edit-playlist-header {
  display: grid;
  grid-template-columns: auto 150px;
  margin-left: 10px;
  margin-right: 10px;

  .edit-playlist-title {
    color: #fff;
    grid-column: 1;
  }

  .save-changes-button-container {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    Button {
      height: 45px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .playlist-create-inputs-container {
    grid-template-columns: 1fr;
  }
}
