.playlist-create-container {
  width: 100%;
  background-color: black;
}

div.playlist-create-input-container {
  margin-top: 20px;
  width: auto;
  grid-template-columns: auto 120px;
}

.playlist-create-inputs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
