.sortable-container {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  padding: 10px;
}

.sortable-item {
  color: white;
  border: 1px solid white;
  justify-content: center;
  border-radius: 10px;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;

  iframe {
    border-radius: 10px;
  }
}
