@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html,
body,
#root,
#app {
  height: 100vh;
  background-color: black;
}

#app-container {
  height: 100%;
}

#main-section-container {
  height: calc(100% - 60px);
  display: flex;
}

#main-section {
  height: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.hidden {
  display: none !important;
}

.visible {
  display: block !important;
}

Button,
button,
div.makeStyles-paper-1 {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

// this class is applied when messaging container opens to allow it to span full width
@media only screen and (max-width: 750px) {
  #main-section.mobile-main-section {
    display: none;
  }
}
