@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html,
body,
#root,
#app {
  height: 100vh;
  background-color: black;
}

#app-container {
  height: 100%;
}

#main-section-container {
  height: calc(100% - 60px);
  display: flex;
}

#main-section {
  height: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.hidden {
  display: none !important;
}

.visible {
  display: block !important;
}

.straight-border {
  border-radius: 0;
}

Button,
button,
div.makeStyles-paper-1 {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

.special-button {
  width: 80%;
  margin: auto;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: 1px dotted;

  &:hover {
    border: solid;
    border-radius: 10px;
    filter: contrast(150%) brightness(250%);
    box-shadow: 0 0 5px #9ecaed;
  }
}

.special-border {
  margin: auto;
  color: white;
  border-radius: 5px;
  border: 1px dotted;

  &:hover {
    border: solid;
    border-radius: 10px;
    filter: contrast(150%) brightness(250%);
    box-shadow: 0 0 5px #9ecaed;
  }
}

$color1: #319177;
$color2: #91314b;

.neon {
  position: relative;
  background: black;
  color: transparent;

  &::before,
  &::after {
    content: attr(data-text);
    color: white;
    filter: blur(0.02em);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  &::after {
    mix-blend-mode: difference;
  }
}

.gradient,
.spotlight {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: 10;
}

.gradient {
  background: linear-gradient(45deg, $color1, $color2);
  mix-blend-mode: multiply;
}

.spotlight {
  animation: light 5s infinite linear;
  background: radial-gradient(circle, white, transparent 25%) 0 0 / 25% 25%,
    radial-gradient(circle, white, black 25%) 50% 50% / 12.5% 12.5%;
  top: -100%;
  left: -100%;
  mix-blend-mode: color-dodge;
}

// this class is applied when messaging container opens to allow it to span full width
@media only screen and (max-width: 750px) {
  #main-section.mobile-main-section {
    display: none;
  }
}
