.playlist-sidebar {
  grid-column: 2;
  overflow: auto;
  height: 100%;

  .playlist-sidebar-snippet {
    width: 90%;
    padding: 5%;
  }
}

// mobile

@media only screen and (max-width: 785px) {
  .playlist-sidebar {
    display: none;
  }
}
