.playlist-sidebar {
  grid-column: 2;
  overflow: auto;
  height: 100%;

  .playlist-sidebar-snippet {
    padding: 5%;
    margin: 5px;
    position: relative;
    overflow: hidden;
    background-color: black;
    display: flex;
    &:hover {
      filter: contrast(110%) brightness(190%);
    }
  }
}

// mobile

@media only screen and (max-width: 785px) {
  .playlist-sidebar {
    display: none;
  }
}
