.playlists-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.no-playlists {
  color: #fff;
  margin: auto;
  height: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.loader {
  height: 100%;
  width: 100%;
}

.flames {
  background-image: url("../../assets/pixelFire.gif");
  background-size: contain;
}

button.hot {
  @extend .flames;
}

.hot {
  position: relative;
}

.hot > span {
  font-size: 16px;
}

.hot.playlists-container {
  height: 100%;
}

.hot.playlists-container:before {
  @extend .flames;
  content: " ";
  background-repeat: repeat-x;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  z-index: 1;
  background-position: bottom;
  position: absolute;
  pointer-events: none;
}

.hot.playlists-container.fade-out:before {
  animation: fadeOut ease 5s;
  -webkit-animation: fadeOut ease 5s;
  -moz-animation: fadeOut ease 5s;
  -o-animation: fadeOut ease 5s;
  -ms-animation: fadeOut ease 5s;
}

@media only screen and (max-width: 600px) {
  .my-playlists-container .playlist {
    grid-template-columns: 50% 50%;
  }

  .my-playlists-thumbnail {
    margin-left: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
