.my-playlists-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;

  .playlist {
    border: 1px solid white;
    border-radius: 5px;
    width: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 100px;
    display: grid;
    grid-template-columns: 200px auto;
    min-height: 155px;
    position: relative;

    Button.delete-playlist-button {
      position: absolute;
      right: 0;
      top: 0;
      min-width: 0;
      background-color: black;
      opacity: 50%;
      border-radius: 10px !important;
      padding: 3px;

      &:hover {
        background-color: rgba(255, 0, 0, 0.9);
        opacity: 100%;
      }
    }
  }
}

.no-playlists {
  color: #fff;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.playlist-head {
  grid-column: 1;
  display: grid;
  grid-template-rows: 50% 50%;
  background-color: black;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;

  .playlist-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    background: linear-gradient(298deg, #33c19c, #4184aa, #31a85b, #9b3597);
    background-size: 800% 800%;
    color: black;

    h2 {
      margin: 0;
      padding: 20px;
      display: flex;
      height: 100%;
      font-size: 20px;
      text-align: center;
      hyphens: auto;
      word-break: break-word;
      box-sizing: border-box;
      overflow-y: scroll;
    }
  }

  .playlist-functions-container {
    display: grid;
    grid-template-columns: 50% 50%;

    Button {
      width: 80%;
      margin: auto;
      background-color: black;
      color: white;
      border: 1px solid white;
      border-radius: 5px;
    }
    .playlist-play-button {
    }

    .playlist-edit-button {
    }
  }
}

.playlist-body {
  grid-column: 2;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.my-playlists-thumbnail {
  margin-left: 10px;
  margin-right: 10px;
  flex: 0 0 auto;
  width: 200px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .my-playlists-container .playlist {
    grid-template-columns: 50% 50%;
  }

  .my-playlists-thumbnail {
    margin-left: 0;
  }
}
