@import "../playlist-snippet/playlist-snippet.scss";

.group-chat {
  height: calc(100vh - 60px);
  display: grid;
  grid-template-rows: auto 40px;
  background-color: black;
}

#groupMessagesContainer .message {
  display: grid;
  grid-template-columns: minmax(auto, 150px) auto;
  grid-column-gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;

  p {
    margin: 0;
  }

  .message-sender {
    grid-column: 1;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px;
    border-radius: 10px;
    color: white;
  }

  .group-message-content {
    grid-column: 2;
    padding: 10px;
    box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10px;
    width: fit-content;
  }
}

#groupChatFooter {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: auto;
  background-color: black;
  width: 100%;
  min-height: 40px;

  .input-container {
    .text-input-container {
      position: relative;
      background-color: black;
      overflow: hidden;
      div.MuiFormControl-root.MuiTextField-root.message-input {
        color: white;
        height: 38px;
        display: flex;
        justify-content: center;
      }
    }
  }

  .send-button-container {
    filter: contrast(110%) brightness(190%);
    position: relative;
    overflow: hidden;
    background-color: black;
    display: flex;

    Button {
      @extend .special-button;
      &:hover {
        border: 2px solid;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .group-chat {
    height: 100%;
  }
}
