.group-chat {
  height: calc(100vh - 60px);
  display: grid;
  grid-template-rows: auto 40px;
}

.messages-container {
  overflow: auto;
}

#groupMessagesContainer .message {
  display: grid;
  grid-template-columns: minmax(auto, 100px) auto;
  column-gap: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;

  p {
    margin: 0;
  }

  .message-sender {
    grid-column: 1;
    text-overflow: ellipsis;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px;
  }

  .group-message-content {
    grid-column: 2;
    padding: 10px;
    box-sizing: border-box;
    background-color: lightBlue;
    box-sizing: border-box;
    border-radius: 10px;
    width: fit-content;
  }
}

#groupChatFooter {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: auto;
  z-index: 1;
  background-color: darkgrey;
  width: 100%;
  min-height: 35px;
  padding-bottom: 4px;
}

@media only screen and (max-width: 600px) {
  .group-chat {
    height: 100%;
  }
}
