.group-chat {
  height: 100%;
}

#groupMessagesContainer {
  overflow: scroll;
  word-break: break-all;
  height: calc(100% - 56px);
  .message-container {
    display: flex;
    flex-flow: column wrap;
    padding-left: 10px;
    padding-right: 10px;

    .message {
      margin-top: 10px;
      padding: 10px;
      border-radius: 10px;
      background-color: rgba(73, 73, 196, 0.637);
      color: black;
      width: fit-content;
    }
  }
  .their-message {
    @extend .message-container;
    margin-right: 10px;

    :first-child {
      background-color: lightblue;
    }
  }

  .my-message {
    @extend .message-container;
    align-content: flex-end;
    margin-left: 10px;
  }
}

#groupChatFooter {
  display: flex;
  justify-content: center;
  height: auto;
  z-index: 1;
  background-color: darkgrey;
  width: 100%;
  min-height: 35px;
  padding-bottom: 10px;
  padding-top: 10px;

  #inputContainer {
    display: grid;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    grid-template-columns: auto 70px;
    grid-column-gap: 10px;

    #messageInput {
      width: auto !important;
    }

    #sendMessageButton {
      background-color: teal;
      color: white;
    }
  }
}
