#chatHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding-right: 10px;
  padding-left: 10px;

  #chatHeader {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto;
    box-sizing: border-box;
    padding-left: 20px;
  }
  #backArrow {
    cursor: pointer;

    &:hover {
      color: teal;
    }
  }
}

#chatContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;

  .messagesContainer {
    overflow: scroll;
    word-break: break-all;
    .message-container {
      display: flex;
      flex-flow: column wrap;
      padding-left: 10px;
      padding-right: 10px;

      .message {
        margin-top: 10px;
        padding: 10px;
        border-radius: 10px;
        background-color: rgba(73, 73, 196, 0.637);
        color: black;
        width: fit-content;
      }
    }
    .their-message {
      @extend .message-container;
      margin-right: 10px;

      :first-child {
        background-color: lightblue;
      }
    }

    .my-message {
      @extend .message-container;
      align-content: flex-end;
      margin-left: 10px;
    }
  }
}

.inputContainer {
  display: grid;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  grid-template-columns: auto 70px;
  grid-column-gap: 10px;

  .messageInput {
    width: auto !important;
  }

  .sendMessageButton {
    background-color: teal;
    color: white;
  }
}

.chatFooter {
  display: flex;
  justify-content: center;
  height: auto;
  z-index: 1;
  background-color: darkgrey;
  width: 100%;
  min-height: 35px;
  padding-bottom: 4px;
  padding-top: 10px;
}
