#chatHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding-right: 10px;
  padding-left: 10px;

  #chatHeader {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto;
    box-sizing: border-box;
    padding-left: 20px;
  }
  #backArrow {
    cursor: pointer;

    &:hover {
      color: teal;
    }
  }
}

#chatContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px auto 52px;
  background-color: black;

  .messagesContainer {
    overflow-y: auto;
    word-break: break-all;
    .message-container {
      display: flex;
      flex-flow: column wrap;
      padding-left: 10px;
      padding-right: 10px;

      .message {
        margin-top: 10px;
        padding: 10px;
        border-radius: 10px;
        background-color: rgba(73, 73, 196, 0.637);
        color: white;
        width: fit-content;
      }
    }
    .their-message {
      @extend .message-container;
      margin-right: 10px;

      :first-child {
        color: black;
        background-color: lightblue;
      }
    }

    .my-message {
      @extend .message-container;
      align-content: flex-end;
      margin-left: 10px;
    }
  }
}

.input-container {
  display: grid;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  grid-template-columns: auto 70px;
  grid-column-gap: 10px;

  .message-input {
    width: auto !important;
  }
}

Button.standard-submit-button {
  border: 1px solid white;
  background-color: black !important;
  color: white;
  &:hover {
    background: linear-gradient(298deg, #33c19c, #4184aa, #31a85b, #9b3597);
    background-size: 800% 800%;
    color: black;
    border-color: black;
  }
}

.chatFooter {
  background-color: black;
  display: flex;
  justify-content: center;
  height: auto;
  z-index: 1;
  width: 100%;
  min-height: 35px;
  padding-bottom: 4px;
  padding-top: 10px;
}
