.playlist-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.playlist-and-chat-container {
  display: grid;
  grid-column: 1;
  grid-template-rows: max-content auto;
}

.playlist {
  width: 100%;
  grid-column: 1;
  background-color: black;
  display: grid;
  grid-template-columns: 60px auto 60px;
}

.zero-height-playlist {
  @extend .playlist;
  height: 0;
}

.button {
  width: 100%;
  padding: 0;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
}

.forward-button {
  grid-column: 3;
  @extend .button;
}

.back-button {
  @extend .button;
}

// mobile

@media only screen and (max-width: 785px) {
  .playlist-container {
    grid-template-columns: 1fr;
  }

  .playlist {
    grid-template-columns: 45px auto 45px;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
