.playlist-container {
  height: 100%;
  width: 100%;
}

.playlist {
  width: 100%;
  background-color: purple;
  display: flex;
}

.button {
  width: 40px;
  padding: 0;
}

.forward-button {
  @extend .button;
}

.back-button {
  @extend .button;
}

.group-chat-container {
  width: 100%;
  background-color: grey;
}
