#header {
  min-height: 60px;
  height: 60px;
  background: linear-gradient(298deg, #33c19c, #4184aa, #31a85b, #9b3597);
  background-size: 800% 800%;

  filter: drop-shadow(0 0 0.1rem black);

  display: grid;
  grid-template-columns: auto auto 100px;
}

#header.signed-in-header {
  grid-template-columns: 100px auto 100px;
}

.playlist-search-bar-container {
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playlist-search-bar {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-animation {
  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
}

.hover-animation {
  &:hover {
    @extend .color-animation;
  }
}

#messaging-icon-column {
  grid-column: 3;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  #messaging-icon-container {
    cursor: pointer;
    z-index: 10;
  }
}
#navButtonsContainer div {
  height: 100%;
}

#loginButtonContainer {
  height: 100%;
  width: auto;
  &:first-child {
    height: 100%;
  }
  .button {
    padding: 10px;
    height: 100%;
    width: 80px;
    font-size: 20px;
    color: white;
  }
  #loginButton {
    @extend .button;
  }

  #registerButton {
    width: auto;
    @extend .button;
  }
}

.temporaryMessage {
  display: flex;
  grid-column: 1 / span 3;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  font-weight: 500 !important;
  font-size: 20px !important;
}

#authInputs {
  grid-column: 2 / span 3;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  .authInput {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;

    textarea {
      max-height: 19px;
    }
  }

  .username-input {
    grid-column: 1 / span 2;
  }

  .loginSubmitContainer {
    display: flex;
    grid-column: 3 / span 4;
    align-items: center;
    justify-content: space-between;

    .button {
      cursor: pointer;
      height: 40px;
      border-color: white;
      color: white;
      margin: 10px;
    }
    .submit {
      @extend .button;
    }

    .close {
      @extend .button;
    }
  }

  .loginSubmitContainerRegister {
    @extend .loginSubmitContainer;
    grid-column: 4;
  }
}

#submitLoginButton {
  @extend .authInput;
}

@media only screen and (max-width: 785px) {
  #header {
    height: auto;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    min-height: 105px;
  }

  .playlist-search-bar-container {
    width: 98%;
    margin: auto;
    grid-column: 1 / span 4;
    padding-bottom: 5px;
  }

  #navButtonsContainer {
    margin: auto;
    grid-column: 1 / span 4;
    grid-row: 1;
    width: 100%;

    #loginButtonContainer {
      width: 100%;

      button {
        width: 100%;
      }
    }

    div {
      height: 60px;
    }
  }

  #messaging-icon-column {
    grid-row: 1;
    grid-column: 4;
    justify-content: flex-end;

    #messaging-icon-container {
      padding: 6px 8px;
    }
  }

  .temporaryMessage {
    grid-row: 1 / span 3;
  }

  #authInputs {
    grid-row: 2;
    grid-column: 1 / span 4;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 100%;

    .emailInput {
      grid-row: 1;
    }

    .passwordInput {
      grid-row: 2;
    }

    .confirmPasswordInput {
      grid-row: 3;
    }

    .loginSubmitContainer {
      grid-column: 1 / span 4;
    }
  }

  .showRegisterInputs {
    grid-template-rows: 1fr 1fr 1fr 1fr !important;
  }
}

// background animation

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
