#header {
  height: 60px;
  background: linear-gradient(298deg, #33c19c, #4184aa, #31a85b, #9b3597);
  background-size: 800% 800%;

  filter: drop-shadow(0 0 0.1rem black);

  display: grid;
  grid-template-columns: auto auto 100px;
}

.animate-header {
  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
}

#messaging-icon-column {
  grid-column: 3;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  #messaging-icon-container {
    cursor: pointer;
  }
}
#navButtonsContainer div {
  height: 100%;
}

#loginButtonContainer {
  height: 100%;
  width: auto;
  &:first-child {
    height: 100%;
  }
  .button {
    padding: 10px;
    height: 100%;
    width: 80px;
    font-size: 20px;
    color: white;
  }
  #loginButton {
    @extend .button;
  }

  #registerButton {
    width: auto;
    @extend .button;
  }
}

.temporaryMessage {
  display: flex;
  grid-column: 1 / span 3;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  font-weight: 500 !important;
  font-size: 20px !important;
}

#authInputs {
  grid-column: 2 / span 3;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  .authInput {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;

    textarea {
      max-height: 19px;
    }
  }

  .loginSubmitContainer {
    display: flex;
    grid-column: 3 / span 4;
    align-items: center;
    justify-content: space-between;

    .button {
      cursor: pointer;
      height: 40px;
      border-color: white;
      color: white;
      margin: 10px;
    }
    .submit {
      @extend .button;
    }

    .close {
      @extend .button;
    }
  }

  .loginSubmitContainerRegister {
    @extend .loginSubmitContainer;
    grid-column: 4;
  }
}

#submitLoginButton {
  @extend .authInput;
}

#loginEmailInput {
}

// background animation

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
