@import "../../App.scss";

.playlist-snippet {
  border-radius: 5px;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  min-height: 100px;
  display: grid;
  grid-template-rows: auto auto;
  min-height: 155px;
  position: relative;

  Button.delete-playlist-button {
    position: absolute;
    right: 0;
    top: 0;
    min-width: 0;
    background-color: black;
    opacity: 50%;
    border-radius: 10px !important;
    padding: 3px;

    &:hover {
      color: red;
      margin: 1px;
      border: 1px solid red;
      box-sizing: border-box;
      opacity: 100%;
    }
  }

  .playlist-head {
    color: white;
    padding: 0 10px;
    display: grid;
    margin: 10px;

    .playlist-title {
      margin: 0 10px;
      padding: 10px 10px 10px 0;
    }

    .playlist-functions-container {
      background-color: black;
      filter: contrast(110%) brightness(190%);
      position: relative;
      overflow: hidden;
      display: flex;
      .button-buffer {
        height: 40px;
        Button {
          @extend .special-button;
          border: none;
          width: auto;
          margin-right: 20px;
          &:hover {
            box-shadow: 2px 0px white;
            border: none !important;
          }
        }

        Button.edit-button {
          &:hover {
            box-shadow: 2px 0px red !important;
          }
        }
      }
    }
  }

  .playlist-body {
    grid-row: 2;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: hidden;
    padding: 0 10px;
  }

  .my-playlists-thumbnail {
    margin-left: 10px;
    margin-right: 10px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    width: 280px;
    cursor: pointer;
  }
}

@keyframes light {
  100% {
    transform: translate3d(50%, 50%, 0);
  }
}
